@import url("https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");

.moving-text {
  background-color: rgb(58, 52, 52);
  color: whitesmoke;
  height: 40px;
  display: flex;
  align-items: center;
}

.moving-text a {
  text-decoration: none;
  color: white;
}

.slide-splitter {
  position: relative;
background: white;
  height: 60px;
}

.slide-splitter::before {
  position: absolute;
  content: "";
  left: 50%;
  z-index: 1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: inherit;
  background-image: url("../assets/logos/double-down.png");
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: center;
  transform: translateX(-50%) translateY(50%);
  bottom: 0px;
  cursor: pointer;
}

.school-tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lovers Quarrel", cursive;
  font-size: 6.5rem;
  background-image : linear-gradient(#f8a57b, #ff9500);
  height: 300px;
}

.img-words-parent {
  background-color : wheat;
}

.img-words-parent h1 {
  padding-top: 30px;
  text-align: center;
  font-family: "Old Standard TT", serif;
  font-size: 3rem;
  letter-spacing: 2px;
}

.img-words {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.principal-img {
  padding-top: 45px;
}

.principal-words {
  width: 50vw;
  padding-top: 45px;
}

.curved {
  position: relative;
  background: wheat;
  height: 100px;
  border-bottom-left-radius: 50% 29%;
  border-bottom-right-radius: 50% 29%;
}

.facilities-parent {
  margin-top: 100px;
  text-align: center;
}

.facilities-parent h1 {
  font-family: "Old Standard TT", serif;
  letter-spacing: 2px;
  font-size: 3rem;
}

.facilities-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.facility-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 250px;
  width: 450px;
  text-align: center;
  border: 2px black solid;
  padding: 30px;
  margin-top: 20px;
}

.facility-div > h4 {
  margin-bottom: 10px;
}

.googlemap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color : rgb(234, 220, 194);
  height: 600px;
}

.school-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 200px;
  background-image : linear-gradient(#e2d257, #e6bb83);
}

.ul-properties {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hz-list li {
  display: inline-block;
  font-size: 2.5rem;
  padding: 15px;
}

.school-social li:hover {
  box-shadow: 0px 0px 6px 4px black;
}

.school-social li{
  border-radius: 50%;
  transition: 1.5s ease-in-out;
}

.info-margin-top {
  margin-top: 70px;
}
