@import url("https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");

.moving-text {
  background-color: rgb(58, 52, 52);
  color: whitesmoke;
  height: 40px;
  display: flex;
  align-items: center;
}

.moving-text a {
  text-decoration: none;
  color: white;
}

.scroll-down-arrow {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.scroll-down-arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
  margin: -28px;
  animation: scroll 2s infinite;
}

.scroll-down-arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.scroll-down-arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.school-tagline {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lovers Quarrel", cursive;
  font-size: 6.5rem;
}

.img-words-parent {
  background-color: #2c3e50;
  margin-top: 4.2%;
}

.img-words-parent h1 {
  padding-top: 30px;
  color: whitesmoke;
  text-align: center;
  font-family: "Old Standard TT", serif;
  font-size: 3rem;
  letter-spacing: 2px;
}

.img-words {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.principal-img {
  padding-top: 45px;
}

.principal-words {
  width: 50vw;
  color: aliceblue;
  padding-top: 45px;
}

.semicircle {
  position: relative;
  background: #2c3e50;
  height: 7vh;
}

.semicircle::before {
  position: absolute;
  content: "";
  left: 50%;
  z-index: 10;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: inherit;
  transform: translateX(-50%) translateY(50%);
  bottom: 0px;
}

.facilities-parent {
  margin-top: 100px;
  text-align: center;
}

.facilities-parent h1 {
  font-family: "Old Standard TT", serif;
  letter-spacing: 2px;
  font-size: 3rem;
}

.facilities-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.facility-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 250px;
  width: 450px;
  text-align: center;
  border: 2px black solid;
  padding: 30px;
  margin-top: 20px;
}

.facility-div > h4 {
  margin-bottom: 10px;
}

.googlemap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  height: 600px;
}

.school-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 200px;
  background-color: lightpink;
}

.ul-properties {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hz-list li {
  display: inline-block;
  font-size: 2.5rem;
  padding: 15px;
}

.school-social li:hover {
  box-shadow: 0px 0px 6px 4px black;
}

.school-social li{
  border-radius: 50%;
  transition: 1.5s ease-in-out;
}

.info-margin-top {
  margin-top: 70px;
}
